<link rel="import" href="/views/Html/header.html?__inline">
<link rel="import" href="/views/Html/_nav.html?__inline">

<!-- <div id="main" style="height:400px"></div> -->

	<!--
        @require "/lib/css/demo2.scss"
        @require "/lib/css/demo3.scss"
    -->
    <div class="div1">1111</div>
    <div class="div2">2222222</div>
<link rel="import" href="/views/Html/footer.html?__inline">
<script type="text/javascript">
    require(['/lib/js/web/echarts'], function (app) {
        app();
    });
</script>
